.App, .home {
  text-align: center;
}
.Home {
  text-align: center;
}

.table {
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}

.avatar-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%
}


.main-heroes {
  font-weight: 100;
}

.heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero-list {
  margin-right: 100px;
}